[submodule "poly-ssg-mcp"]
	path = poly-ssg-mcp
	url = git@github.com:hyperpolymath/poly-ssg-mcp.git
[submodule "poly-container-mcp"]
	path = poly-container-mcp
	url = git@github.com:hyperpolymath/poly-container-mcp.git
[submodule "poly-db-mcp"]
	path = poly-db-mcp
	url = git@github.com:hyperpolymath/poly-db-mcp.git
