[submodule "polyglot-ssg-mcp"]
	path = polyglot-ssg-mcp
	url = git@github.com:hyperpolymath/polyglot-ssg-mcp.git
[submodule "polyglot-container-mcp"]
	path = polyglot-container-mcp
	url = git@github.com:hyperpolymath/polyglot-container-mcp.git
[submodule "polyglot-db-mcp"]
	path = polyglot-db-mcp
	url = git@github.com:hyperpolymath/polyglot-db-mcp.git
